@page
@model IndexModel
@{
    ViewData["Title"] = "Client List";
}

<h2>Clients</h2>

<p>
    <a asp-page="./Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>PhoneNumber</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model.Clients)
        {
            <tr>
                <td>@client.Name</td>
                <td>@client.Email</td>
                <td>@client.Address</td>
                <td>@client.PhoneNumber</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@client.Id" class="btn btn-warning">Edit</a>
                    <a asp-page="./Delete" asp-route-id="@client.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
